
 .joy{
    background-color: green;
    display: flex;
    
}
 .all{
    flex-direction: row;
    display: flex;
    
}
.all .drama{
    justify-content: center;
    padding: 30px;
    flex-direction: row;
    align-content: center;
}
.drama img{
    height:20rem;
    width: 15rem;
    padding-top: 30px;
    
}
.drama p{
    justify-content: center;
   margin-left: 50px;
   font-weight: bold;
   font-size: 25px;
   color: orange;
   font-family: "Lobster";
}
.drama a{
    display: flex;
   margin-left: 50px;
   margin-top: -15px;
   font-weight: bold;
   font-size: 15px;
   color: white;
    font-family:"monstrrat" ;
    text-decoration: none;
    
}
.contact h1{
    font-weight: bold;
    color: orange;
    font-size: 30px;
    font-family: "Lobster";
}
.contact {
    display: flex;
    color: white;
    font-size: 20px;
    background-color: green;
    justify-content: center;
    
}
.contact  a{
    color: white;
    font-family:"monstrrat";
    font-size: 15px;
    text-decoration: none;
}
.contact   h2{
    color: white;
    font-family:"monstrrat";
    font-size:15px;
    text-decoration: none;
}
@media  screen and (max-width:800px){
    .all{
        flex-direction: column;
        display: flex;
        
    }
    .all .drama{
        margin-left: 40px;
        padding: 10px;
        flex-direction:column;
        
    }
    .drama img{
        height:20rem;
        width:15rem;
        padding-top: 20px;
        
        
    }
    .drama p{
       margin-left: 70px;
       font-size: 25px;
      
    }
    .drama a{
    
       margin-left: 80px;
       margin-top: -15px;
       font-size: 15px;
      
        
    }
}