*{
    padding:0;
    margin:  0; 
    box-sizing: border-box;
    font-family:'Segoe UI',  sans-serif ;
}
#header{
    position: absolute;
    top:0;
    left:0;
    padding:30px 100px;
    width:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 10000;
    
}
#header .logo{
    color:red;
    font-weight: bolder;
    font-size:30px;
    text-decoration: none;
    padding-left:500px ;
    display: flex;
    flex-direction: row;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
}
#header ul li a{
    text-decoration: none;
    padding: 2px 15px;
    color: white;
    border-radius: 8px;
    font-size: medium;
}
#header ul li a:hover{
    background:orange;
    transition: .5s;
}
.main{
    padding-left: 50px;
    padding-top: 50px;
}
.main h1{
    padding-top: 250px;
    padding-left:0px;
    text-align: left;
    font-size: 60px;
    color: white;
}
.main h1 span{
    color: green;
    
}
.main h3{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    
}
.main p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 200px;
    color: white;
    font-family:  monospace;
    font-weight: bolder;

}
.main a{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border: 2px solid white;
    background-color: orange;
    margin-left: 150px;
    text-decoration: solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.fan{
    background-color: orange;
    margin-block: 140px;
    
}
h1{
    color: white;
    font-family: 'Segoe UI',  sans-serif;
    font-size: 75px;
    padding-left: 450px;
    padding-top: 5px;
    text-decoration: dashed;
}
.fan .all{
    flex-direction: row;
    display: flex;
    justify-items: center;
    padding-top: 25px;
    

}

.all content{
    flex-direction: row;
    display: flex;
    text-align: center;
   
}
 
.content img{
    width: 19rem;
    height: 25rem;
    margin-left:-5px;
    margin-right: 10px;
    justify-content: space-around;
    
    
   
}
.content p{
    color: white;
    padding-left: 75px;
    font-weight: bold;
    font-size: 25px;
}
.content a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    background-color: green;
    text-decoration: solid;
    margin-left: 75px;
    margin-right: 75px;  
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;

}
.love{
    background-color: orange;
    background-size: 50px;
    margin-block:-140px;
}
.love h1{
    font-size: 40px;
    color: orange;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.joy{
    flex-direction: column;
    display: flex;
    text-align: center;
}
.joy .div1{
    flex-direction: column;
    display: flex;
    justify-items: center;
    padding-top: 100px
    
}
.div1 img{
    width: 19rem;
    height: 30rem;
    margin-left: 400px;
    margin-right: 10px;
    justify-content: space-around;
    
}
.div1 p{
    color: white;
    margin-left: 450px;
    margin-right: 550px;  
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    
}
.div1 a{
    color: white;
    background-color: green;
    margin-left: 550px;
    margin-right: 550px;  
    margin-top: 8px;
    font-weight: bold;
    font-size:20px;
    border-radius: 30px;
    text-decoration: solid;
    
    
}
@media(max-width:480px){
   
}
