
*{
    padding:0;
    margin:  0; 
    box-sizing: border-box;
    
    
}
#header{
    position: absolute;
    top:0;
    left:0;
    padding:30px 100px;
    width:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 10000;
    
}
#header .logo{
    color:red;
    font-weight: bolder;
    font-size:30px;
    text-decoration: none;
    padding-left:500px ;
    display: flex;
    flex-direction: row;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
}
#header ul li a{
    text-decoration: none;
    padding: 2px 15px;
    color: white;
    border-radius: 8px;
    font-size: medium;
}
#header ul li a:hover{
    background:orange;
    transition: .5s;
}
.main{
    padding-left: 50px;
    padding-top: 50px;
}
.main h1{
    padding-top: 250px;
    padding-left:0px;
    text-align: left;
    font-size: 60px;
    color: white;
    font-family:"Lobster" ;
}
.main h1 span{
    color: green;
    
}
.main h3{
    color: orange;
    font-family:"Lobster";
    
}
.main p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 200px;
    color: white;
    font-family:  monospace;
    font-weight: bolder;

}
.main a{
    font-family: "monstrrat";
    font-size: medium;
    border: 2px solid white;
    background-color: orange;
    margin-left: 150px;
    text-decoration: solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

main{
    background-color: orange;
}
.fan{
    background-color: orange;
    margin-block: 140px;
    
}
h1{
    color: white;
    font-family: "Lobster";
    font-size: 75px;
    padding-left: 450px;
    padding-top: 5px;
    text-decoration: dashed;
}
.fan .all{
    flex-direction: row;
    display: flex;
    justify-items: center;
    padding-top: 25px;
    

}

.all content{
    flex-direction: row;
    display: flex;
    text-align: center;
    
}
 
.content img{
    width: 19rem;
    height: 25rem;
    margin-left:-5px;
    margin-right: 10px;
    justify-content: space-around;
    border: 2px solid white;
    
   
}
.content p{
    color: white;
    padding-left: 75px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Lobster";
}
.content a{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "monstrrat";
    font-weight: lighter;
    background-color: green;
    text-decoration: solid;
    margin-left: 75px;
    margin-right: 75px;  
    margin-top: 20px;
    border-radius: 4px;
    text-align: center;

}
.love{

    padding: 5px;
   
   
}
.love h1{
    padding-right: 80px;
    display: flex;
    text-align: center;
    text-decoration: underline;
    font-size: 65px;

}
.joy{
    background-color:orange;
    display: flex;
    flex-direction: row;
     padding-bottom: 50px;
}
.joy .div1{
   
    justify-content: center;
    padding:1.2px;
    flex-direction: row;
    align-content: center;
   
}

 .div1 img{
    height: 25rem;
    width: 15rem;
    
    border: 5px solid white;
   
    
}
.div1 p{
    justify-content: center;
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
    color: green;
    font-family: "monstrrat";
}
.div1 a{
    display: flex;
    margin-left: 50px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    font-family:"monstrrat" ;
    text-decoration: none;
}
.contact {
    background-color: green;
    display: flex;
    text-align: end;
    padding: 40px;
}
.contact h1{
  color: orange;
  font-size: 30px;

 
     
}
.contact  a{
   color: white;
   font-size: 20px;
   text-decoration: none;
    
}
.contact   h2{
   color: white;
   font-size: 20px;
   font-weight: lighter;
}
@media  screen and (max-width:800px){
    .main h1{
        font-size: 36px;
        line-height: 50px;
    } 
    #header ul li a{
        width: 100%;
        height: 50px;
        margin-right: -10px;
        flex-direction: column;
    }
    #header .logo{
        margin-left: -1000px;
        font-size: 20px;
    }
    .main{
        padding-left: -20px;
        padding-top: -20px;
    }
    .main p{
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        
    
    }
    h1{
        font-size: 35px;
        padding-left:100px;
        padding-top: 5px;
        
    }
    .fan .all{
        flex-direction: column;
        align-content: center;
        padding-top: 25px;
        margin-left: 50px;
        
    
    }
    .content p{
        padding-left: 100px;
    }
    .content a{
        margin-left: 100px;
    }
    .love h1{
        font-size: 45px;
    
    }
    .joy{
      
        flex-direction: column;
         margin-left: 65px;
         font-family: "monstrrat";
    }
    .joy .div1{
        flex-direction: column;
        
    }
    .div1 img{
        height: 20rem;
        width: 15rem;
        
       
        
    }
    .div1 p{
       
        margin-left: 15px;
        font-weight: bold;
        font-size: 30px;
        color: green;
        font-family: "monstrrat";
    }
    .div1 a{
        
        margin-left: 80px;
        margin-top: 2px;

    }
    .contact {
        text-align:center;
        padding: 50px;
    }
    .contact h1{
      font-size: 40px;
    }
    .contact  a{
       font-size: 17px;
       padding-left: 100px;
        
    }
    .contact   h2{
       color: white;
       font-size: 20px;
       font-weight: 20px;
       padding-left: 100px;
    }
}
